<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../style-navbar.css">
  </head>
  <body>
    <ul class="topnav">
      <li><a target="_top" href="/">Isabel Mitre</a></li>
      <li class="right"><a target="_top" href="../pages/Map.html">MAP</a></li>
      <li class="right"><a target="_top" href="../pages/Projects.html">PROJECTS</a></li>
      <li class="right"><a target="_top" href="../pages/Gallery.html">GALLERY</a></li>
      <li class="right"><a target="_top" href="/">HOME</a></li>
    </ul>
  </body>
</html>