ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #731143;
}
ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover {background-color: #560D32;}
ul.topnav li.right {float: right;}

@media screen and (max-width: 580px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

body {
  background-color: #FAF7F9;
}

a:link, a:visited {
    color:#901554;
    font-weight:bold;
    text-decoration: none;
}
a:hover {
    color:#560D32;
}



.content {
  margin: 100px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
#profile {
    width: 300px;
    padding: 20px;
}
#text {
    padding: 20px;
    width: 500px;
}


#greeting-container {
  margin-top: 20px;
}


.content2 {
  margin: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
#bees {
    float: left;
    width: 300px;
    padding: 20px;
}
#text-about {
    padding: 20px;
}

h1, h2 {
    margin-bottom: 3px;
}

@media screen and (max-width: 825px) {
  .content, .content2 {  
    flex-wrap: wrap;
    margin: 50px;
  }
  #text {
    margin-right: 70px;
    margin-left: 70px;
  }
}


.content3 {
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
}
.column{
  flex: 25%;
  max-width: 25%;
  padding: 5px;
}
.gallery {
  width: 100%;
  padding: 5px;
}
#explanantion {
    max-width: 300px;
}
@media screen and (max-width: 580px) {
  .column{padding: 2px;}
  .gallery {padding: 5px;}
}